* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url('../img/bg01.png');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url('../img/bg01.png');
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url('../img/bg01.png');
    background-color: #f7f7f7;
    background-position: top left, top left;
    background-repeat: repeat-x, repeat;
    background-size: 100% 30em, auto;
    color: #696969;
}


header {
    align-items: center;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

.logo {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.logo a {
    font-size: 40px;
    background-color: #FF4486;
    border-radius: 8px;
    padding: 15px 10px;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

nav {
    margin-left: auto;
}

nav a {
    color: #696969;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
    background-color: #444444;
}

.content {
    width: 80%;
    margin: 45px auto;
}

footer {
    color: #b8b8b8;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

.welcome {
    width: 100%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
}

.welcome-title {
    width: 50%;
    font-size: 40px;
    float: left;
    padding: 60px;
}

.welcome-title h1 {
    color: #444;
    font-size: 40px;
    font-weight: bold;
}

.welcome-buttons {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-buttons a {
    padding: 30px;
    background: #0090c5;
    border-radius: 8px;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}