* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url('../img/bg01.png');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url('../img/bg01.png');
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url('../img/bg01.png');
    background-color: #f7f7f7;
    background-position: top left, top left;
    background-repeat: repeat-x, repeat;
    background-size: 100% 30em, auto;
    color: #696969;
}

.content {
    width: 80%;
    margin: 45px auto;
}

button.normal {
    background-color: #0090C5;
    border-radius: 8px;
    padding: 10px 20px;
    color: #fff;
    font-size: 26px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button.normal:hover {
    background-color: #037ba7;
}

::placeholder {
    color:    #ccc;
 }