.register {
    width: 100%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 50px;
    text-align: center;
}

.register label {
    display: inline-block;
    width: 70px;
    text-align: right;
    margin: 0 10px;
}

.register input {
    width: 50%;
    padding: 12px 20px;
    margin: 15px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register h1 {
    font-size: 33px;
    margin: 20px auto 50px auto;
}